@import "misc/fonts";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin-top: 10px;
  width: 100%;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.container {
  margin: 0 auto;
  width: 1146px;
}

.nav__wrap { 
  display: flex;
  height: 59px; //ljg
}

.header__logo {
  margin-right: 10px;
  &-link {
    display: inline-block;
    width: 154px;
    height: 64px;
  }
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-site {
  margin: 0;
  padding: 0;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  &__link {
    padding: 6px 14px;
    color: #ffffff;
    text-decoration: rgba(255, 255, 255, .2) underline;
    &:hover, &:focus {
      color: #333333;
      background-color: #f7f6f3;
      border-radius: 30px;
      outline: none;  
    }
  }
}

.header__buttons {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  align-items: center;
}

.buttons__link {
  margin-left: 10px;
  padding: 7.5px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  &-login {
    padding-left: 15px;
    padding-right: 15px;
  }
  &-basket {
    padding-left: 15px;
    padding-right: 35px;
  }
  &-name {
    margin-left: 8px;
  }
  &:hover, &:focus {
    color: #323232;
    background-color: #f8f7f4;
    outline: none;
  }
  &:hover path, &:focus path, &:hover g, &:focus g {
    fill: #000;
  }
}

.contacts {
  position: absolute;
  right: 0;
  top: 65px;
  text-align: right;
}

.contacts__time {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.contacts__phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.slider-ice {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__title {
  margin-top: 322px;
  margin-bottom: 31px;
  padding-left: 238px;
  padding-right: 238px; 
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.slider__img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.btn {
  font: inherit;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  position: relative;
  &:hover, &:focus {
    box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
    outline: 0;
    &::after {
      content: "";
      position: absolute;
      display: block;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &:active {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
  }
  &_slider {
    width: 278px;
  }
}

.slider__nav {
  margin: 0;
  padding: 0;
  margin-right: auto;
  position: relative;
  top: -40px;
  display: flex;
  list-style: none;
  .circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    &:hover {
      cursor: pointer;
      background-color: #b2c1b7;
    }
  }
  .active {
    .circle {
      background-color: #fff;
    }
  }
  &-item {
    margin-right: 8px;
    button:focus {
      &+.circle{
        background-color: #b2c1b7;
      }
    }
  }
}

.banner {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  &__item {
    width: 560px;
    border-radius: 15px;
    &_one {
      background-image: url("../img/index/bg-raspberries.jpg");
    }
    &_two{
      background-image: url("../img/index/bg-chocolate.jpg");
    }
  }
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 41px;
  }
  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 22px;
  }
  &__wrapp {
    margin: 15px 20px;
    margin-bottom: 23px;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn_banner{
  font-size: 18px;
  line-height: 24px;
  padding: 11px 23px;
  display: inline-block;
  float: right;
}

.catalog-ice {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  &__item {
    width: 267px;
    &-image {
      position: relative;
      margin-bottom: 10px;
    }
    &:hover {
      .catalog-ice__item-hover {
        position: absolute;
        width: 293px;
        margin: -13px;
        padding: 13px;
        margin-top: -5px;
        padding-top: 5px;
        border-radius: 5px;
        background-color: rgba(248, 247, 244, 0.2);
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
      }
      .ice__desc {
        margin-bottom: 10px;
      }
      .btn_view {
        margin-bottom: 10px;
        margin-left: 32px;
        margin-right: 32px;
        padding: 10px 17px;
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.ice-hit {
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/svg/hit.svg");
}

.ice__image {
  border-radius: 50%;
  width: 267px;
  height: 267px;
}

.ice__price {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 11px;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  span {
    font-size: 30px;
  }
}

.ice__desc {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 22px;
  text-decoration: rgba(255, 255, 255, .2) underline;
  text-align: center;
}

.btn_view {
  display: none;
}

.seo {
  padding: 25px 20px;
  padding-bottom: 15px;
  margin-bottom: 40px;
  border-radius: 15px;
  color: #323232;
  background-color: #d7ceb5;
  background-image: url("../img/index/wafer.jpg");
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
  &__item{
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: normal;
    width: 540px;
  }
  &__desc {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    float: right;
    width: 485px;
  }
  &__icon {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    &1 {
      background-image: url("../img/svg/ice\'co.svg");
    }
    &2 {
      background-image: url("../img/svg/cow.svg");
    }
    &3 {
      background-image: url("../img/svg/eraser.svg");
    }
    &4 {
      background-image: url("../img/svg/termometer.svg");
    }
  }
}

.news__wrap {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.news{
  padding: 22px 20px;
  text-align: left;
  &__subtitle {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-weight: 500;
  }
  &__title {
    margin: 0;
    padding: 0;
    &-link {
      font-size: 24px;
      line-height: 30px;
      color: #323232;
      text-decoration: underline;
    }
  }
}

.new-bg {
  border-radius: 10px;
  width: 560px;
  background-color: #fff;
  background-image: url("../img/index/news.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #323232;
}

.dispatch-bg {
  padding: 5px;
  border-radius: 15px;
  width: 560px;
  background-image: url("../img/index/mail-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dispatch {
  border-radius: 10px;
  background-color: #f8f7f4;
  padding: 30px 20px;
  color: #5a5a5a;
  font-weight: normal;
  line-height: 22px;
  &__text {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
  }
  &__email {
    margin-right: 8px;
    line-height: 24px;
    width: 368px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
    padding:  14px;
  }
}

.btn_dispatch {
  padding: 10px 19px; 
  color: #fefefe;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.map {
  position: relative;
  margin-right: -26px;
  margin-left: -26px;
}

.map-img {
  width: 100%;
}

.map__contacts {
  position: absolute;
  top: 64px;
  right: 27px;
  padding: 30px 25px 28px;
  width: 302px;
  text-align: left;
  background-color: #fffffe;
  color: #323232;
  border-radius: 15px;
}

.contacts__address {
  margin-bottom: 16px;
}

.address__subtitle, .tel__subtitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.tel__subtitle {
  margin-bottom: 3px;
}

.address__info {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__tel {
  margin-bottom: 22px;
}

.tel__info {
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.tel__time {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.btn_map {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 27px;
}

.footer{
  padding-top: 17px;
  padding-bottom: 29px;
  .container {
    display: flex;
  }
  &__nav {
    display: flex;
    &-col {
      margin-right: 30px;
    }
  }
}

.socials {
  margin: 0;
  padding: 0;
  margin-right: 130px;
  margin-top: 19px;
  width: 267px;
  display: flex;
  list-style: none;
  &__item {
    margin-right: 13px;
    
  }
  &__link {
    width: 37px;
    height: 37px;
    border: 2.5px solid #c2cec7;
    border-radius: 50%;
    display: block;
    color: #ffffff;
  }
}

.footer__nav {
  &-items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-item span::before {
    content: "";
    width: 15px;
    height: 13px;
    display: inline-block;
    background-image: url("../img/svg/heart.svg");
  }
  &-link {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
    color: #ffffff;
  }
}

.footer__logo-link {
  margin-left: auto;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 24px;
  border-radius: 10px;
  background-color: #f8f7f4;
  color: #323232;
  width: 477px;
  min-height: 442px;
  &__title {
    margin: 20px 0;
    padding: 0;
  }
}