@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-width: 480px; }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  width: 100%;
  padding-top: 10px; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }

.container {
  width: 1146px;
  margin: 0 auto; }

.nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__logo {
  width: 154px;
  height: 64px;
  margin-right: 10px; }

.header__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navigation-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 410px; }
  .navigation-site__link {
    color: #ffffff;
    padding: 6px 14px;
    -webkit-text-decoration: rgba(255, 255, 255, 0.2) underline;
    text-decoration: rgba(255, 255, 255, 0.2) underline; }
    .navigation-site__link:hover {
      color: #333333;
      background-color: #f7f6f3;
      border-radius: 30px; }

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500; }

.header__button {
  margin-left: 10px; }

.buttons__link {
  display: block;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  padding: 6px 15px; }

.contacts {
  position: absolute;
  right: 0;
  top: 65px;
  text-align: right; }

.contacts__time {
  font-size: 14px;
  line-height: 16px; }

.contacts__phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff; }

.slider-ice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px; }

.slider__title {
  margin-top: 317px;
  margin-bottom: 31px;
  padding-left: 238px;
  padding-right: 238px;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center; }

.slider__img {
  position: absolute;
  top: 0;
  z-index: -1; }

.btn {
  font: inherit;
  display: inline-block;
  padding: 9px 40px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 40px;
  cursor: pointer; }
  .btn_slider {
    width: 278px; }

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  position: relative;
  top: -40px; }
  .slider__nav label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff; }
  .slider__nav .active label {
    background-color: #fff; }
  .slider__nav-item {
    margin-right: 8px; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 23px 20px; }
  .banner__item {
    width: 560px; }
  .banner__title {
    font-size: 35px;
    line-height: 41px; }
  .banner__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px; }

.btn_banner {
  font-size: 18px;
  line-height: 24px;
  padding: 15px 22px; }

.catalog-ice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }
  .catalog-ice__item {
    width: 267px; }

.ice__image {
  width: 267px;
  height: 267px;
  border-radius: 50%; }

.ice__price {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5); }
  .ice__price span {
    font-size: 30px; }

.ice__desc {
  font-weight: 500;
  line-height: 22px;
  -webkit-text-decoration: rgba(255, 255, 255, 0.2) underline;
  text-decoration: rgba(255, 255, 255, 0.2) underline;
  text-align: center; }

.btn_view {
  display: none; }

.seo {
  padding: 30px 20px;
  margin-bottom: 40px;
  background-color: #d7ceb5;
  color: #323232;
  border-radius: 10px; }
  .seo__title {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500; }
  .seo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .seo__item {
    margin-bottom: 28px;
    line-height: 22px;
    font-weight: normal;
    width: 540px; }

.news__wrap {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.news {
  padding: 27px 20px;
  background-color: #fff;
  color: #323232;
  width: 560px;
  text-align: left;
  border-radius: 10px; }
  .news__subtitle {
    line-height: 22px;
    font-weight: 500; }
  .news__title-link {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: underline; }

.dispatch {
  padding: 33px 21px;
  width: 560px;
  background-color: #f8f7f4;
  color: #5a5a5a;
  font-weight: normal;
  line-height: 22px;
  border-radius: 10px; }
  .dispatch__email {
    margin-right: 10px;
    line-height: 24px;
    width: 368px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
    padding: 14px; }

.btn_dispatch {
  padding: 14px 19px;
  color: #fefefe;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-image: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  background-image: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); }

.map {
  position: relative; }

.map-img {
  width: 100%; }

.map__contacts {
  position: absolute;
  top: 62px;
  right: 27px;
  padding: 33px 25px 28px;
  width: 302px;
  text-align: left;
  background-color: #fffffe;
  color: #323232;
  border-radius: 10px; }

.contacts__address {
  margin-bottom: 28px; }

.address__subtitle, .tel__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.address__info {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px; }

.contacts__tel {
  margin-bottom: 25px; }

.tel__info {
  font-size: 18px;
  line-height: 22px;
  color: #323232; }

.tel__time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px; }

.btn_map {
  font-size: 18px;
  line-height: 24px;
  padding: 13px 25px; }

.footer {
  padding-top: 36px;
  padding-bottom: 29px; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__nav-col {
      margin-right: 30px; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130px;
  width: 267px; }
  .socials__link {
    color: #ffffff; }

.footer__nav-link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff; }

.footer__logo-link {
  margin-left: auto; }

/*# sourceMappingURL=main.css.map */